

.email_head{padding: 20px;}.email_header_logo{float: left;}.company_name{float: left;font-size: 32px;color: #AAAAAA;}.email_thank_you{height: 180px;line-height: 80px;background-color: #F58220;color: #ffffff;font-size: 24px;}