/* CSS Document */

.map-container {
	position: relative;
	height: 450px;
    overflow: hidden;
}
#modal_signup  .map-container {
	height: 400px;
    margin-bottom: 30px;
}
.map-container #map-canvas {
    width: 100%;
    height: 100%;
    margin-top: -65px;
}
.map-container #heat_map {
    width: 100%;
    height: 100%;
}
.map-container #custom_map_controls {
    position: absolute;
    z-index: 5 !important;
    right: 90px !important;
    top: 5px !important;
    display: none;
}
.map-container #custom_map_controls #clear_markers {
    border: 1px solid #B9B9B9;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    font-size: 11px;
    color: #565656;
    font-family: Roboto,Arial,sans-serif;
    padding: 1px 6px;
}
.map-container #custom_map_controls #scroll_zoom {
    border: 1px solid #B9B9B9;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    font-size: 11px;
    color: #565656;
    font-family: Roboto,Arial,sans-serif;
    padding: 1px 6px;
}
.map-container .controls {
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 32px;
    margin-top: 16px;
    outline: medium none;
    border-radius: 0px;
}
#modal_signup .map-container .controls {
    border: 1px solid #cccccc;
    border-bottom: 0px none;
}
.map-container #search_box
{
	/*position: absolute;*/
	margin-left: 88px;
	left: 0px !important;
	z-index: 5;
	margin-top: 0px;
	width: auto;
	margin-right: 20px;
    margin-top: 20px;
    position: relative;
}
.map-container #search_box #pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	min-width: 300px;
	width: 100%;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
.map-container #pac-input:focus {
	border-color: #4d90fe;
	padding-left: 14px;
}
.map-container .infowindow {
	white-space: nowrap;
}
.map-container .infowindow p {
	margin: 0px;
	padding: 0px;
}
.map-container .infowindow .address_lines {
    margin-bottom: 3px;
}
.map-container .infowindow .address_lines .address_value, .map-container .infowindow .address_lines .val_address_value {
    font-size: 11px !important;
    height: 20px !important;
    padding: 0 5px !important;
    line-height: 20px !important;
    width: 150px !important;
    overflow: hidden;
}
.map-container .infowindow .save_marker {
    border-radius: 3px;
    font-size: 12px;
    height: 24px;
    line-height: 18px;
    padding: 2px 10px !important;
}

/*@media (max-width: 960px) {

	.map-container #search_box  {
		position: relative;
		margin-top: 20px;
	}
	.map-container #search_box #pac-input  {		
		min-width: 100px;
	}
	.map-container #map-canvas  {
		margin-top: -65px;
	}
	
}*/

/*@media (max-width: 768px) {*/

    .map-container {
        position: relative;
        /*margin: 0px 15px 15px 15px;*/
    }
    .map-container #search_box  {
        position: relative;
        margin-top: 0px;
        z-index: 6;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1px;
    }
    .map-container #search_box #pac-input  {
        margin-top: 0px !important;
    }
    .map-container #map-canvas  {
        margin-top: 0px;
    }

/*}*/
/*
@media (max-width: 360px) {

    .map-container #custom_map_controls {
        top: 25px !important;
        right: 5px !important;
        width: 120px !important;
    }
    .map-container #custom_map_controls .pull-left {
        float: right !important;
    }

}*/

.pac-container {
    z-index: 2000 !important;
}

#no-edit-map-canvas {
    height: 400px;
}