@font-face {
    font-family: 'Delivricons';

    src: url('../fonts/delivricons.eot');
    src: url('../fonts/delivricons.eot?#iefix') format('embedded-opentype'), url('../fonts/delivricons.woff') format('woff'), url('../fonts/delivricons.ttf') format('truetype'), url('../fonts/delivricons.svg#glyphicons_halflingsregular') format('svg');
}
.delivricon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Delivricons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.delivricon-courier-staff:before {
    content: "\d01";
}
.delivricon-dashboard:before {
    content: "\d02";
}
.delivricon-invoice:before {
    content: "\d03";
}
.delivricon-item:before {
    content: "\d04";
}
.delivricon-merchant:before {
    content: "\d05";
}
.delivricon-purchase-history:before {
    content: "\d06";
}
.delivricon-store:before {
    content: "\d07";
}

*, *:focus, *:active {
    outline: none !important;
}

body {
    background-color: #eeeded;
    min-width: 360px;
}
.no_pad_left {
    padding-left: 0px !important;
}
.no_pad_right {
    padding-right: 0px !important;
}
.no_pad {
    padding: 0px !important;
}
.no_margin {
    margin: 0px !important;
}
.loader_div {
    position: relative;
}
.no_image {
    background-image: url("../images/no_image.jpg") !important;
    background-position: left top !important;
    background-repeat: repeat !important;
}
img.no_image {
    width: 100% !important;
    height: 100% !important;
}
.img-responsive {
    position: relative;
}
.loader {
    background-image : url('../images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
}
body.loader_div > .loader {
    position: fixed;
}
.modal .modal-content {
    border-radius: 0px;
    min-width: 360px;
}
.unselectable, label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.full_width {
    width: 100% !important;
    max-width: none !important;
}
.width_100 {
    min-width: 100px;
}
.width_150 {
    min-width: 150px;
}
.width_200 {
    min-width: 200px;
}
.width_250 {
    min-width: 250px;
}
.modal-body {
    width: 100%;
}

.bootstrap-select {
    margin: 0px;
}
.bootstrap-select button.dropdown-toggle {
    border: 1px solid #f58220 !important;
    border-radius: 0;
    box-shadow: none;
    color: #666666;
    font-size: 16px;
    height: 34px;
    padding: 0 10px;
}
.bootstrap-select button.dropdown-toggle:hover, .bootstrap-select button.dropdown-toggle:focus, .bootstrap-select button.dropdown-toggle:active, .bootstrap-select.open  button.dropdown-toggle{
    background-color: #FCFCFC;
}
.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #f58220;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}
.dropdown-menu li a {
    border-top: 1px solid #f7941d;
    color: #626262;
    line-height: 40px;
    padding: 0 20px;
}
.dropdown-menu li a .check-mark {
    margin-top: 13px !important;
}
.dropdown-menu li:first-child a {
    border-top: 0 none;
}
.dropdown-menu li a:hover, .dropdown-menu li.selected a {
    background-color: #FAC08F;
}

.logo_container {
    padding: 120px 0px 0px 0px;
}
.logo_container img {
    margin: 0px auto;
}
.delivr_info {
    text-align: center;
    font-size: 22px;
    color: #999997;
    padding: 70px 0px;
}
.delivr_info .info_head {
    font-size: 33px;
    margin-bottom: 10px;
}
.login_buttons {
    border-top: 1px solid #dbdada;
    border-bottom: 1px solid #dbdada;
    background-color: #FFFFFF;
    padding: 30px 0px;
}
.login_buttons .btn {
    background-color: #ff9235;
    border: 0 none;
    color: #ffffff;
    font-size: 30px;
    line-height: 80px;
    padding: 0;
    width: 300px;
    border-radius: 2px;
    margin: 0px 15px;
}
.login_buttons .btn_signup {
    background-color: #999997;
}
.login_buttons .btn_login:hover {
    background-color: #ff7d2d;
}
.login_buttons .btn_signup:hover {
    background-color: #838381;
}
.video_image {
    position: relative;
}
.video_image .btn_play {
    left: 50%;
    margin-left: -119px;
    margin-top: -119px;
    position: absolute;
    top: 50%;
}
.login_video .video_text {
    color: #999997;
    font-size: 34px;
    text-align: center;
    padding: 50px 0px;
}
.foot_logo {
    padding-top: 100px;
}
.foot_logo img {
    max-width: 320px;
    margin: 0px auto;
}
.foot_links ul {
    padding: 40px 0px;
}
.foot_links ul li {
    display: inline-block;
    float: none;
    border-left: 2px solid #707070;
}
.foot_links ul li:first-child {
    border-left: none;
}
.foot_links ul li a {
    font-size: 25px;
    color: #707070;
    padding: 0px 20px;
    line-height: 100%;
}
#modal_login .modal-dialog, .modal_form .modal-dialog {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
#modal_login .modal-content, .modal_form .modal-content {
    border-radius: 0px;
}
#modal_login .modal-content .modal-body, .modal_form .modal-content .modal-body {
    padding: 0px;
}
#modal_login .modal-content .modal-body .login_head {
    padding: 30px;
    color: #ff9235;
    border-bottom: 3px solid #ffc03c;
    background-color: #eeeded;
    font-size: 40px;
}
#modal_login .login_body {
    padding: 30px 30px 0px 30px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #d9d9d9;
}
#modal_login .login_body a {
    color: #ff9235;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}
#modal_login .login_body .form-group {
    margin-bottom: 30px;
}
#modal_login .login_body .form-control {
    padding: 0px 30px;
    height: 60px;
    font-size: 25px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 0px;
}
#modal_login .login_foot {
    padding: 30px;
    font-size: 22px;
    color: #999997;
    background-color: #eeeded;
}
.btn_logins {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #d27127;
    background-color: #ff9235;
    color: #ffffff;
    font-size: 25px;
    line-height: 58px;
    width: 100%;
    padding: 2px 30px 0px 30px;
}
#modal_login .login_foot .btn_logins {
    margin-top: 30px;
}
.btn_logins:hover, .btn_logins:focus {
    background-color: #ff7d2d;
    border-bottom-color: #b95e28;
    color: #FFFFFF;
}
.modal_form .modal-header {
    padding: 20px 30px;
    color: #ff9235;
    font-size: 30px;
    background-color: #eeeded;
}
.modal_form .modal-body ul.nav {
    background-color: #cfcfcf;
}
.modal_form .modal-body ul.nav li {
    margin-left: 0px;
}
.modal_form .modal-body ul.nav li a {
    border-radius: 0px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0px 15px;
    line-height: 58px;
    outline: none;
    background-color: #ff9235;
    text-align: center;
}
.modal_form .modal-body ul.nav li.active a {
    background-color: #d0670e;
    padding-right: 10px;
}
.modal_form .modal-body ul.nav li.active + li a {
    background-image: url("../images/signup-nav.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
}
.modal_form .modal-body ul.nav li.passed_tab a {
    background-color: #d0670e;
}
.modal_form .modal-body ul.nav li.disabled_tab a {
    background-color: transparent;
    padding-right: 15px;
}
.modal_form .body_padding {
    padding: 30px 30px 0px 30px !important;
}
.modal_form .form-group {
    margin-bottom: 30px;
}
.modal_form .form-control {
    padding: 0px 30px;
    height: 60px;
    font-size: 25px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 0px;
}
.modal_form .bootstrap-select button.dropdown-toggle {
    padding: 0px 30px;
    height: 60px;
    font-size: 25px;
    background-color: #e0e0e0;
    border: none !important;
    border-radius: 0px;
}
.modal_form .bootstrap-select button.dropdown-toggle .filter-option {
    left: 25px;
}
#drop_zone {
    padding: 0px 30px;
    height: 280px;
    font-size: 25px;
    background-color: #e0e0e0;
    margin-bottom: 30px;
    background-image: url("../images/upload-thumb.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    cursor: pointer;
    border: 3px solid #e0e0e0;
}
#drop_zone .drop_info {
    color: #999999;
    font-size: 20px;
    left: 30px;
    line-height: 100%;
    padding-top: 30px;
    text-align: center;
    top: 25px;
}
#drop_zone .drop_title {
    bottom: 25px;
    color: #999999;
    left: 30px;
    line-height: 100%;
    position: absolute;
}
.modal_form .modal-footer, #crop_img_modal .modal-footer {
    padding: 0px;
    border: none;
    text-align: left;
}
.modal_form .modal-footer .no_pad:first-child, #crop_img_modal .modal-footer .no_pad:first-child {
    padding-right: 1px !important;
}
.modal_form .modal-footer .btn, #crop_img_modal .modal-footer .btn {
    background-color: #ff9235;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    line-height: 70px;
    width: 100%;
    font-size: 25px;
    padding: 0px 20px;
}
.modal_form .modal-footer .btn:hover, #crop_img_modal .modal-footer .btn:hover {
    background-color: #ff7d2d;
}
#modal_login .form-control:focus, .modal_form .form-control:focus {
    border: 1px solid #66afe9;
}
#drop_zone.entered {
    border: 3px solid #CCCCCC;
    background-color: #DDDDDD;
}
#modal_login .form-control.error, .modal_form .form-control.error, #drop_zone.error, .drop_zone.error, .checkbox .error {
    border: 1px solid #ff9235;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, 0 0 8px rgba(255, 146, 53, 0.60);
    outline: 0 none;
}

/* Assistance */
body.assistance_page {
    background-color: rgba(0,0,0,0.5);
}
.assist_containers {
    margin: 100px auto 0;
    max-width: 480px;
}
.assist_containers .modal-content {
    border-radius: 0px;
}
.assist_containers .modal-header {
    padding: 20px 30px;
    color: #ff9235;
    font-size: 30px;
    background-color: #eeeded;
}
.assist_containers .modal-body {
    padding: 30px 30px 0px 30px;
}
.assist_containers .form-group {
    margin-bottom: 30px;
}
.assist_containers .form-control {
    padding: 0px 30px;
    height: 60px;
    font-size: 25px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 0px;
}
.assist_containers .modal-footer {
    padding: 0px;
    border: none;
    text-align: left;
}
.assist_containers .modal-footer .no_pad:first-child {
    padding-right: 1px !important;
}
.assist_containers .modal-footer .btn {
    background-color: #ff9235;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    line-height: 70px;
    width: 100%;
    font-size: 25px;
    padding: 0px 20px;
    margin: 0px;
}
.assist_containers .modal-footer .btn:hover {
    background-color: #ff7d2d;
}
.assist_containers .form-control:focus {
    border: 1px solid #66afe9;
}
.assist_containers .form-control.error {
    border: 1px solid #ff9235;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, 0 0 8px rgba(255, 146, 53, 0.60);
    outline: 0 none;
}
#container_assist .modal-footer {
    padding: 30px 30px 0px 30px;
}
#container_assist .modal-footer .btn {
    margin-bottom: 30px;
}

/* INNER PAGES */

.sidebar {
    width: 320px;
    /*height: 100%;*/
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 30px;
    background-color: #FFFFFF;
    border-right: 1px solid #dbdada;
    overflow: hidden;
}
.sidebar .sidebar_inner {
    bottom: -20px;
    left: 0;
    overflow: scroll;
    padding: 0 30px 30px;
    position: absolute;
    right: -20px;
    top: 70px;
}
.main_container {
    margin-left: 320px;
}
.sidebar_logo {
    padding: 50px 0px;
    margin-right: -20px;
}
.sidebar_logo img {
    margin: 0px auto;
}
.sidebar_menu {
    margin: 0px -10px 15px -30px;
}
.sidebar_menu ul li {
    padding: 5px 0px 5px 20px;
}
.sidebar_menu ul li a, .sidebar_menu ul li a:focus {
    background-color: transparent;
    border-left: 5px solid transparent;
    color: #444444;
    font-size: 18px;
    padding: 10px 0 10px 15px;
}
.sidebar_menu ul li a:hover {
    border-color: #fac08f;
    background-color: transparent;
}
.sidebar_menu ul li a.active {
    border-color: #f58220;
}
.sidebar_menu ul li a span:first-child {
    font-size: 20px;
}
.sidebar_menu ul li a span.menu_text {
    margin-left: 15px;
}
/*.sidebar_menu ul li.merchant_name {
    margin-left: -30px;
    margin-right: -30px;
    background-color: #F7941D;
}
.sidebar_menu ul li.merchant_name a {
    color: #FFFFFF;
}*/
.sidebar_menu ul li a.merchant_name:hover {
    border-color: transparent;
}
#sidebar_menu .navbar-toggle {
    background-color: #f9f9f9;
    border: 1px solid #f5f5f5;
    display: block;
    margin: 0 -10px 0 0;
    padding: 8px;
}
#sidebar_menu .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.menu_closed #sidebar_menu {
    width: 40px;
    padding: 10px;
}
.menu_closed .sidebar .sidebar_inner {
    padding-left: 10px;
}
.menu_closed #sidebar_menu .sidebar_logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu_closed #sidebar_menu .sidebar_menu ul li li {
    padding-left: 0px;
}
.menu_closed #sidebar_menu .sidebar_menu ul li a {
    padding-left: 5px;
}
.menu_closed #sidebar_menu .menu_text {
    display: none;
}
.menu_opened #sidebar_menu .menu_text {
    display: inline;
}
.menu_opened .tooltip {
    display: none !important;
}
.tooltip_conatiner {
    width: 500px;
    position: fixed;
    z-index: 999;
}
.tooltip_conatiner .tooltip {
    margin-left: 20px;
}
.menu_closed .main_container {
    margin-left: 40px;
}
.main_container .header {
    background-color: #f7941d;
    padding: 20px 30px;
}
.main_container .header .item_search {
    line-height: 100%;
    font-size: 0px;
}
.main_container .header .item_search .form-control {
    border: none !important;
    box-shadow: none;
    border-radius: 0px;
    height: 40px;
}
.main_container .header .item_search .form-control .caret {
    color: #f7941d;
    margin-top: -3px;
    border-width: 8px;
}
.main_container .header .item_search #item_name {
    border-radius: 3px 0px 0px 3px;
    width: 100%;
}
.main_container .header .item_search .bootstrap-select {
    margin: 0px;
}
.main_container .header .item_search .item_stores .form-control {
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
}
.main_container .header .item_search .item_categories .form-control {
    border-radius: 0px 3px 3px 0px;
}
.main_container .header .item_search button[type="submit"] {
    height: 40px;
    background-color: #9c5209;
    border: none;
    color: #FFFFFF;
}
.main_container .header .user_name {
    color: #ffffff;
    font-size: 14px;
    padding-top: 20px;
}
.main_container .header .user-nav {
    margin-left: 20px;
}
.main_container .header .user-nav .user_image {
    background-color: #eeeded;
    display: block;
    height: 60px;
    outline: 0 none;
    width: 60px;
    border-radius: 3px;
    overflow: hidden;
}
.main_container .body .heading {
    background-color: #FFFFFF;
    padding: 10px 30px 10px 45px;
    border-bottom: 1px solid #dbdada;
    position: relative;
}
.main_container .body .heading.form_action {
    border-top: 1px solid #dbdada;
    border-bottom: none;
}
.main_container .body .heading h1 {
    font-size: 18px;
    color: #282828;
    font-weight: normal;
    line-height: 40px;
    margin: 0px;
}
.btn_green, .btn_green:focus, .btn_green:hover {
    background-color: #19bc15;
    border: none;
    color: #FFFFFF;
    padding: 0 20px;
    line-height: 40px;
}
.btn_red, .btn_red:focus, .btn_red:hover {
    background-color: #F7941D;
    color: #9C5209;
}
.btn_green.pull-right {
    margin-left: 10px;
}
.main_container .body .main_content {
    padding: 20px 30px 20px 45px;
    position: relative;
}

/* FORM CSS */

.form_container {
    max-width: 700px;
}
.form_container .floated_label {
    line-height: 50px;
    margin: 0px;
}
.form_container .form-control, .form_container .bootstrap-select button.dropdown-toggle {
    border: 1px solid #cbcaca !important;
    border-radius: 0px;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    font-size: 14px;
}
.form_container .form-control:focus {
    border: 1px solid #66afe9 !important;
}
.form_container .form-control.error, .form_container .form-group.error, .form_container .bootstrap-select button.dropdown-toggle.error {
    border: 1px solid #ff9235 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, 0 0 8px rgba(255, 146, 53, 0.60);
    outline: 0 none;
}
.form_container .form-control .filter-option {
    left: 20px !important;
}
.courier_staff_profile_pic {
    position: relative;
}
.courier_staff_profile_pic .profile_pic_left {
    margin-right: 195px;
}
.courier_staff_profile_pic .drop_zone#profile_image {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #cbcaca;
    padding: 5px;
    background-color: #FFFFFF;
}
.courier_staff_profile_pic .drop_zone#profile_image.error {
    border: 1px solid #ff9235;
}
.courier_staff_profile_pic .drop_zone#profile_image.drop_info {
    font-size: 14px;
    padding-top: 6px;
    line-height: 18px;
}
.courier_staff_profile_pic .drop_zone#profile_image .drop_title {
    left: 0px;
    width: 100%;
    bottom: 10px;
    font-size: 20px;
}

.form_section .form_head {
    background-color: #FFFFFF;
    border: 1px solid #d6d5d5;
    color: #ff9235;
    font-size: 18px;
    padding: 10px 20px;
}
.form_section .form_content {
    padding: 15px 15px 0px 15px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border: 1px solid #d6d5d5;
    border-top: none;
    position: relative;
}
.form_section .form_content:last-child {
    margin-bottom: 0px;
}

.map-container {
    border: 1px solid #cbcaca;
    margin-bottom: 15px;
}
.drop_zone {
    border: 1px solid #cbcaca;
    padding: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
}
.drop_zone:before {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 5px;
    background-image: url("../images/no_image.jpg") !important;
    background-position: left top !important;
    background-repeat: repeat !important;
    content: "";
}
.drop_zone.disabled {
    cursor: default;
}
.page_item_view .drop_zone {
    cursor: auto;
}
.drop_zone.error {
    border: 1px solid #ff9235;
}
.drop_zone .drop_info {
    font-size: 14px;
    padding-top: 6px;
    line-height: 18px;
    position: relative;
}
.drop_zone .drop_title {
    left: 0px;
    width: 100%;
    bottom: 10px;
    font-size: 20px;
    position: relative;
    padding-top: 10px;
}
.store_open_close {
    margin: 15px -15px;
}
/*.store_open_close div:first-child:after {
    content: "-";
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    right: -4px;
    top: 0;
}*/
.brand_images {
    margin-bottom: 15px;
    position: relative;
}
.brand_images #brand_image {
    width: 100%;
    height: 400px;
}
.brand_images #brand_logo {
    width: 27%;
    height: 50%;
    position: absolute;
    right: 4%;
    bottom: 7%;
}

.table_div {
    display: table;
    width: 100%;
}
.table_div .td_div {
    display: table-cell;
    vertical-align: top;
}
.block_store {
    background-color: #FFFFFF;
    border:  1px solid #cac9c9;
    margin-bottom: 20px;
}
.block_store .td_div {
    padding: 20px;
}
.block_store .store_logo {
    width: 200px;
}
.block_store .store_logo img {
    border: 1px solid #ebebeb;
    padding: 10px;
    width: 100%;
}
.block_store .store_info .store_name {
    color: #282828;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 5px;
}
.block_store .store_info .store_address_list {
    font-size: 12px;
    color: #686868;
}
.block_store .store_info .store_address_list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.block_store .store_actions {
    width: 250px;
}
.block_store .store_actions .btn {
    font-size: 20px;
    line-height: 45px;
    border-bottom-width: 2px;
}
#item_store_container .item_store {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fbfbfb;
}
#item_store_container .item_store:first-child {
    border-top: 1px solid #e7e7e7;
}
#item_store_container .name_store {
    font-size: 16px;
    padding: 15px;
    vertical-align: middle;
}
#item_store_container .check_store {
    vertical-align: middle;
    width: 60px;
    text-align: center;
}
#item_store_container .check_store {
    vertical-align: middle;
    width: 60px;
    text-align: center;
}
#item_store_container label.check_label {
    width: 100%;
}
label.check_label {
    font-weight: normal;
    margin: 0px;
}
label.check_label span.check_span {
    text-align: center;
    border: 3px solid #b5b5b5;
    cursor: pointer;
    font-size: 10px;
    height: 18px;
    line-height: 13px;
    margin: 0;
    width: 18px;
    color: #FFFFFF;
}
label.check_label span.check_span.icon_semi {
    color: #CCCCCC;
}
label.check_label span.check_span.icon_full {
    color: #333343;
}
label.check_label .checkbox {
    display: none;
}
.product_images {
    margin-left: -4px;
    margin-right: -4px;
}
.product_images .product_image {
    padding: 0px 4px;
    position: relative;
}
.product_images .product_image .remove_image {
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    right: 14px;
    top: 10px;
    width: 40px;
}

.block_attr {
    border: 1px solid #cbcaca;
}
.block_attr .attr_head {
    line-height: 48px;
    border-bottom: 1px solid #cbcaca;
    text-align: right;
}
.block_attr .attr_head .remove_attr_block {
    border: 1px solid #cbcaca;
    border-radius: 0;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    margin-top: -5px;
    padding: 0;
    width: 50px;
}
.block_attr .attr_head label.check_label {
    margin: 0px 15px 0px 0px;
}
.block_attr .attr_head .form-control {
    margin: -1px;
}
.block_attr .attr_list .with_remove {
    position: relative;
}
.block_attr .attr_list .with_remove .price_container {
    margin-right: 50px;
}
.block_attr .attr_list .with_remove .remove_attr {
    border: 1px solid #cbcaca;
    border-left: none;
    border-radius: 0;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
    width: 50px;
}
.category_list_container {
    position: relative;
}
.add_categories {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
.add_categories .new_category_fields {
    margin-right: 100px;
}
.add_categories .action_buttons {
    position: absolute;
    right: 0px;
    top: -1px;
    font-size: 0px;
}
.add_categories .action_buttons button {
    border: 1px solid #cbcaca;
    border-left: none;
    border-radius: 0;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 50px;
}

/* Item Listing page */
.item_listing {
    margin: -20px -15px -20px -45px;
    position: relative;
}
.categories_container {
    width: 360px;
    background-color: #FFFFFF;
    border-right: 1px solid #dbdada;
    min-width: 180px;
    max-width: 500px;
}
.heading h1.brand_container {
    margin: -10px 0 -10px -45px !important;
}
.heading h1 .bootstrap-select button.dropdown-toggle {
    border: none !important;
    border-right: 1px solid #dbdada !important;
    height: 60px;
    width: 360px;
}
.heading h1 .bootstrap-select button.dropdown-toggle .filter-option {
    left: 20px;
}
.categories_container .glyphicon {
    font-family: Helvetica, Arial;
    font-size: 20px;
    height: 100%;
    line-height: 38px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    width: 20px;
}
.categories_container li {
    padding: 0px;
}
.categories_container li a, .categories_container li a:focus {
    color: #8e8e8e;
    font-size: 15px;
    background-color: transparent;
}
.categories_container li a.current_category {
    background-color: #E0E0E0;
}
.cat_resize_controller {
    width: 10px;
    /*background-color: #CCC;*/
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    cursor: ew-resize;
}

/*
.categories_container li a {
    padding-left: 30px;
}
.categories_container li li a {
    padding-left: 45px;
}
.categories_container li li li a {
    padding-left: 60px;
}
.categories_container li li li li a {
    padding-left: 75px;
}*/
.items_container {
    padding: 15px 0px 15px 15px;
}
.items_container .item_container {
    padding: 15px;
}
.items_container .ui-sortable .item_container {
    cursor: move;
}
.items_container .view_more {
    bottom: 5px;
    font-size: 12px;
    position: absolute;
    right: 10px;
}
.items_container .block_item {
    border: 1px solid #bcbbbb;
}
.items_container .block_item .item_image {
    border-bottom: 1px solid #bcbbbb;
    position: relative;
    min-height: 50px;
}
.items_container .block_item .item_image .btn_logins {
    border-bottom-width: 1px;
    bottom: 2px;
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px;
    position: absolute;
    right: 2px;
    width: auto;
    display: none;
}
.items_container .block_item .item_image .view_store {
    right: auto;
    left: 2px;
}
.items_container .block_item:hover .item_image .add_items, .items_container .block_item:hover .item_image .view_store {
    display: block;
}
.items_container .block_item .item_image .special_item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: #666666;
    font-size: 10px;
    opacity: 0.9;
    padding: 2px 8px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.items_container .block_item .item_infos {
    padding: 15px 20px;
    background-color: #FFFFFF;
    font-size: 16px;
}
.items_container .block_item .item_infos p {
    margin: 0px;
}
.items_container .block_item .item_infos .item_name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}
.items_container .block_item .item_infos .item_name a {
    color: #333333;
    display: block;
    margin: -15px;
    padding: 15px;
}
.items_container .block_item .item_infos .item_price {
}
.items_container .form_content {
    padding: 15px;
    min-height: 150px;
    position: relative;
}
.items_container .form_content #other_stores {
    min-height: 120px;
}

/* item view */

.item_info .other_info, .store_info .other_info {
    padding: 15px 15px 0px 15px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    border: 1px solid #d6d5d5;
    position: relative;
    margin-top: 10px;
}
.detail_row {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}
.detail_row:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}
.detail_row .detail_label {
    color: #999999;
    font-size: 16px;
}
.detail_row .detail_value {
    color: #666666;
    font-size: 14px;
}
.detail_row .detail_value:empty:before {
    content: "\00a0";
}
.detail_row .available_stores .brand_name {
    font-weight: bold;
}
.detail_row .detail_list {
    padding-left: 15px;
}
.detail_row .detail_list li {
    margin-top: 5px;
}
.detail_row .item_category {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
.detail_row .item_category > li + li:before {
    color: #aaa;
    content: ">";
    font-weight: bold;
    padding: 0 8px 0 10px;
}
.detail_row .additional_information .clearfix {
    margin-top: 10px;
}
.detail_row .additional_information .clearfix:first-child {
    margin-top: 0px;
}
.detail_row .additional_information .sub_label {
    font-weight: bold;
    width: 200px;
}
.detail_row .additional_information .sub_label {
    font-weight: bold;
    width: 200px;
}
.detail_row .pricing_attributes table {
    border-collapse: collapse;
}
.detail_row .pricing_attributes table td, .detail_row .pricing_attributes table th {
    vertical-align: middle;
    padding: 5px;
}
.detail_row .pricing_attributes table tbody {
    border-bottom: 10px solid #FFFFFF;
}
.detail_row .pricing_attributes table tbody:last-child {
    border-bottom: none;
}
.detail_row .pricing_attributes table .attrib_name {
    min-width: 200px;
}
.detail_row .pricing_attributes table .select_option {
    text-align: center;
    width: 30px;
}
.detail_row .pricing_attributes table .select_option span {
    border: 2px solid #ccc;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    width: 14px;
}
.detail_row .pricing_attributes table .select_option span.single_select {
    border-radius: 50%;
}
.other_contents.items_container {
    padding: 0px;
}

/* store view */

.detail_value .store_location {
    margin: 0px -10px;
}
.detail_value .store_location .block_store_container {
    padding: 0px 10px;
    margin-bottom: 20px;
}
.detail_value .store_location .block_store {
    padding: 15px;
    margin: 0px;
    position: relative;
}
.detail_value .store_location .block_store .check_label {
    position: absolute;
    top: 3px;
    right: 5px;
}
.detail_value .store_location .block_store p {
    margin-bottom: 0px;
}
.detail_value .store_location .block_store p:first-child {
    margin-bottom: 10px;
}
.detail_value .store_location .block_store p span {
    display: block;
}
.detail_value .store_location .block_store button {
    font-size: 12px;
    padding: 0px;
    color: #f7941d;
}
.detail_value .store_location .block_store button.inactive_store {
    color: #AAAAAA;
    text-decoration: none;
}
.detail_value .map-container {
    margin: 0px;
}


/*Profile Css Start*/

.profile_container {
    background-color: #FFFFFF;
}
.profile_header_image .user_image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.profile_body {
    padding: 15px;
}
.profile_map_body #no-edit-map-canvas {
    border: 1px solid #d9d9d9;
    height: 500px;
}
.profile_header {
    border-bottom: 1px solid #d9d9d9;
}
.profile_header_image {
    margin: 30px;
}
.profile_header_info {
    margin-top: 75px;
}
.profile_header_info .info1 {
    color: #f28220;
    font-size: 26px;
}
.profile_header_info .info2 {
    color: #a0a0a0;
    font-size: 15px;
    font-weight: bold;
}
.profile_sub_title {
    color: #f28220;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
    width: 100%;
}
.form_editable .info_display.form-control {
/*    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-top: 1px solid transparent !important;*/
    border: 1px solid #EEEEEE !important;
    box-shadow: none;
}
/*Profile Css End*/


/* switch css */

.detail_options {
    margin-top: -5px;
}
.form_head .detail_options {
    margin-top: -4px;
}
.detail_options.action {
    margin-top: 20px;
    margin-right: 20px;
}
.detail_options .btn {
    border: 1px solid #d6d5d5;
    line-height: 32px;
    margin-left: 10px;
    padding: 0 15px;
    width: auto;
}
.detail_options .btn.glyphicon {
    margin-top: -1px;
}
.item_container .switch_container {
    position: absolute;
    right: 3px;
    bottom: 2px;
}
.switch_container {
    background-color: #eeeded;
    border: 1px solid #d6d5d5;
    border-radius: 4px;
    padding: 5px;
}
.switch_container .switch {
    background-color: #666666;
    border-radius: 3px;
    width: 130px;
    position: relative;
    height: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch_container .switch .btn_switch {
    background-color: #19BC15;
    color: #ffffff;
    font-size: 10px;
    padding: 0px 5px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 22px;
    line-height: 22px;
    border-radius: 3px;
    margin: 0px;
}
.switch_container .switch .btn_switch.off {
    background-color: #f7941d;
    left: auto;
    right: 0px;
}
.switch_container .switch .btn_switch.on:before {
    content: "IN STOCK";
}
.switch_container .switch .btn_switch.off:before {
    content: "OUT OF STOCK";
}

/* store detail */

.store_info .switch_container .switch {
    width: 90px;
}
.store_info .switch_container .switch .btn_switch {
    width: 60px;
}
.store_info .switch_container .switch .btn_switch.on:before {
    content: "ACTIVE";
}
.store_info .switch_container .switch .btn_switch.off:before {
    content: "INACTIVE";
}


/*referral*/
.fb_signup {
    cursor: pointer;
}
.invite_logo_container {
    margin: 20px auto;
    width: 20%;
}

/* pagination */
.pagination_list {
    margin: 15px 0px 15px 0px;
}
.pagination_list .pagination, .pagination_list .bootstrap-select {
    margin: 0px;
}
.pagination_list .pagination li a {
    border-radius: 0px;
    color: #626262;
    background-color: #FFFFFF;
    border: 1px solid #f7941d;
}
.pagination_list .pagination li.active a {
    background-color: #FAC08F;
    color: #626262;
    border: 1px solid #f58220;
}
.pagination_list .pagination li.disabled a {
    border-color: #dddddd;
    color: #cccccc;
    cursor: not-allowed;
}

/* category */
.category_detail {
    margin-top: 30px;
}

.view_home {
    float: none;
    margin: 10px 0 10px 100px;
}

/* settings */
.settings_menu ul li {
    margin: 0px;
    padding: 0px;
}
.settings_menu ul li a, .settings_menu ul li a:focus {
    background-color: #ffffff;
    border-bottom: 1px solid #dbdada;
    border-left: 1px solid #dbdada;
    border-radius: 0;
    padding: 10px 30px;
    color: #282828;
    font-size: 18px;
    line-height: 40px;
}
.settings_menu ul li:first-child a {
    border-left: none;
}
.settings_menu ul li a:hover {
    background-color: #F9F9F9;
}
.settings_menu ul li.current_page a {
    background-color: #F5F5F5;
    cursor: auto;
}


/* css media queries */
@media (max-width: 1199px) {

    .main_container .header .item_search {
        padding: 0px;
    }
    .main_container .header .item_search #item_name {
        border: none !important;
        border-radius: 3px !important;
        margin-bottom: 1px;
    }
    .main_container .header .item_search .item_categories .form-control, .main_container .header .item_search .item_stores .form-control {
        border: none !important;
        border-radius: 3px !important;
        margin-bottom: 1px;
    }
    .main_container .header .item_search .search_button {
        padding: 0px !important;
    }

}