<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">



<hibernate-configuration>
    <session-factory>

        <!-- Show all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <property name="auto_close_session">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.jdbc.batch_size">20</property>


        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

       <mapping class="com.yetistep.delivr.model.UserEntity" />
       <mapping class="com.yetistep.delivr.model.RoleEntity" />
       <mapping class="com.yetistep.delivr.model.CustomerEntity" />
       <mapping class="com.yetistep.delivr.model.DeliveryBoyEntity"/>
       <mapping class="com.yetistep.delivr.model.MerchantEntity"/>
       <mapping class="com.yetistep.delivr.model.ActionLogEntity"/>
       <mapping class="com.yetistep.delivr.model.CountryEntity"/>
       <mapping class="com.yetistep.delivr.model.CategoryEntity"/>
       <mapping class="com.yetistep.delivr.model.ItemEntity"/>
       <mapping class="com.yetistep.delivr.model.ItemsAttributeEntity"/>
       <mapping class="com.yetistep.delivr.model.ItemsAttributesTypeEntity"/>
       <mapping class="com.yetistep.delivr.model.ItemsImageEntity"/>
       <mapping class="com.yetistep.delivr.model.ItemsStoreEntity"/>
       <mapping class="com.yetistep.delivr.model.OrderEntity"/>
       <mapping class="com.yetistep.delivr.model.StoreEntity"/>
       <mapping class="com.yetistep.delivr.model.StoresBrandEntity"/>
       <mapping class="com.yetistep.delivr.model.BrandsCategoryEntity"/>
       <mapping class="com.yetistep.delivr.model.AddressEntity" />
       <mapping class="com.yetistep.delivr.model.ItemsOrderEntity" />
       <mapping class="com.yetistep.delivr.model.DBoyOrderHistoryEntity" />
       <mapping class="com.yetistep.delivr.model.PreferencesEntity"/>
       <mapping class="com.yetistep.delivr.model.DBoyAdvanceAmountEntity"/>
       <mapping class="com.yetistep.delivr.model.DBoySubmittedAmountEntity"/>
       <mapping class="com.yetistep.delivr.model.DeliveryBoySelectionEntity"/>
       <mapping class="com.yetistep.delivr.model.UserDeviceEntity"/>
       <mapping class="com.yetistep.delivr.model.RatingEntity"/>
       <mapping class="com.yetistep.delivr.model.OrderCancelEntity"/>
       <mapping class="com.yetistep.delivr.model.CartEntity"/>
       <mapping class="com.yetistep.delivr.model.CartAttributesEntity"/>
       <mapping class="com.yetistep.delivr.model.CourierTransactionEntity" />
       <mapping class="com.yetistep.delivr.model.ItemsOrderAttributeEntity" />
       <mapping class="com.yetistep.delivr.model.CustomItemEntity" />
       <mapping class="com.yetistep.delivr.model.ReasonDetailsEntity" />
       <mapping class="com.yetistep.delivr.model.InvoiceEntity" />
       <mapping class="com.yetistep.delivr.model.BillEntity" />
       <mapping class="com.yetistep.delivr.model.ReceiptEntity" />
        <mapping class="com.yetistep.delivr.model.ValidateMobileEntity" />
        <!--<mapping class="com.yetistep.delivr.model.TestEntity" />-->

    </session-factory>
</hibernate-configuration>