<?xml version="1.0" encoding="UTF-8"?>
<!-- @Author Surendra -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

     <!--Dao and Service Layer Bean Dependency-->


    <bean id = "userService" class = "com.yetistep.delivr.service.impl.UserServiceImpl" />
    <bean id = "deliveryBoyService" class="com.yetistep.delivr.service.impl.DeliveryBoyServiceImpl" />
    <bean id = "customerService" class="com.yetistep.delivr.service.impl.CustomerServiceImpl" />
    <bean id = "merchantService" class="com.yetistep.delivr.service.impl.MerchantServiceImpl" />
    <bean id = "managerService" class="com.yetistep.delivr.service.impl.ManagerServiceImpl" />
    <bean id = "adminService" class="com.yetistep.delivr.service.impl.AdminServiceImpl" />
    <bean id = "accountService" class="com.yetistep.delivr.service.impl.AccountServiceImpl" />
    <bean id = "systemPropertyService" class="com.yetistep.delivr.service.impl.SystemPropertyServiceImpl" />
    <bean id = "systemAlgorithmService" class="com.yetistep.delivr.service.impl.SystemAlgorithmServiceImpl" />
    <bean id = "clientService" class="com.yetistep.delivr.service.impl.ClientServiceImpl" />

    <bean id = "deliveryBoyDaoService" class="com.yetistep.delivr.dao.impl.DeliveryBoyDaoServiceImpl" />
    <bean id = "customerDaoService" class="com.yetistep.delivr.dao.impl.CustomerDaoServiceImpl" />
    <bean id = "merchantDaoService" class="com.yetistep.delivr.dao.impl.MerchantDaoServiceImpl" />
    <bean id = "actionLogDaoService" class="com.yetistep.delivr.dao.impl.ActionLogDaoServiceImpl" />
    <bean id = "countryDaoService" class="com.yetistep.delivr.dao.impl.CountryDaoServiceImpl" />
    <bean id = "preferencesDaoService" class="com.yetistep.delivr.dao.impl.PreferencesDaoServiceImpl" />
    <bean id = "courierTransactionDaoService" class="com.yetistep.delivr.dao.impl.CourierTransactionDaoServiceImpl" />
    <bean id = "orderDaoService" class="com.yetistep.delivr.dao.impl.OrderDaoServiceImpl" />
    <bean id = "deliveryBoySelectionDaoService" class="com.yetistep.delivr.dao.impl.DeliverBoySelectionDaoServiceImpl" />
    <bean id = "storesBrandDaoService" class="com.yetistep.delivr.dao.impl.StoresBrandDaoServiceImpl" />
    <bean id = "storeDaoService" class="com.yetistep.delivr.dao.impl.StoreDaoServiceImpl" />
    <bean id = "userDeviceDaoService" class="com.yetistep.delivr.dao.impl.UserDeviceDaoServiceImpl" />
    <bean id = "dBoyOrderHistoryDaoService" class="com.yetistep.delivr.dao.impl.DBoyOrderHistoryDaoServiceImpl" />

 </beans>