<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/merchant/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ACCOUNTANT', 'ROLE_MERCHANT')" />
        <intercept-url pattern="/organizer/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" />
        <intercept-url pattern="/accountant/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ACCOUNTANT')" />


        <access-denied-handler error-page="/403" />
        <form-login
                login-page="/"
                default-target-url="/welcome"
                authentication-failure-url="/auth_failed"
                username-parameter="username"
                password-parameter="password"
                always-use-default-target="true" />
        <!-- enable Cross Site Request Forgery protection -->
        <csrf />

    </http>

    <!-- Password Encryptor Using Bcrypt -->
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11" />
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="springUserDetailsService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

 </beans:beans>

